html, body, .grid-container { height: 100%; margin: 0; }

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.arrow{
    stroke-width:5;
    stroke:#000;
    stroke-dasharray:5, 5;
}
.grid-container * { 


 position: relative;
    
}

.grid-container *:after { 
 background-color: #7eb1e2;
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
         background-color: #7eb1e2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "File-Location Paper-Tabs Paper-Tabs Document-Markups" "File-Directory Paper-Tabs Paper-Tabs Document-Markups" "References Paper-Tabs Paper-Tabs Highlight-Wheel";
}

div.selectedColor{
    border:1px solid black;
}

/* Style the tab */
.tab {
 
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
    text-align: center;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;

  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#main2 {
            display:none;
        }

 .square {

            width:35px;
            height: 29px;
     border: 1px solid black;
     float:left;
     margin: 6px;
        position: relative;
            cursor:pointer;
    
        top:-2px;
        }
        #square1{
            background-color: red;
        }
        #square2{
            background-color: green;
        }
        #square3{
            background-color: yellow;
        }
        #square4{
            background-color: darkviolet
        }
        #square5{
            background-color :azure;
            border: 1px solid gray;
        }


            
            
    
  
         

.tall {
            width:20px;
            height:30px;
            cursor:pointer;
            float: right;
            border: 1px solid black;
            position: relative;
            top:-45px;
            left:-55px;
        }

.delet {
            position: relative;
            top: -15px;
            left: 30px;
            font-size: 25px;
            font-weight: 600;

        }
        .delet:hover{
            color: red;
        }
        #tabs{
            padding:40px;
        }
        #tab-2 {
            display:none;
        }
        
titles{
    
            background-color: gray;
        }

button {
            padding:14px 40px;
            border-radius: 10px 10px 0 0;
            margin-top: 16px;
            border:none;
            background-color: #969696;
            font-size : 20px;
        }
        button:hover{
            background-color: #969696;
        }
        button:focus {
            background-color: #6997e0;
        }
input {
  display: inline-block;
  float: left;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
}

.File-Location { grid-area: File-Location; background-color: #7eb1e2;
 background-color: white;
            border-radius: 55px;
            padding: 5px;
            border: 1px solid black;}

.File-Directory { grid-area: File-Directory; background-color: #7eb1e2; 
 background-color: white;
            border-radius: 55px;
            padding: 5px;
            border: 1px solid black;}

.References { grid-area: References; background-color: #7eb1e2; 
 background-color: white;
            border-radius: 55px;
            padding: 5px;
            border: 1px solid black;}

.Document-Markups { grid-area: Document-Markups; 
   
     background-color: white;
            border-radius: 55px;
            border: 1px solid black;}

.Highlight-Wheel { grid-area: Highlight-Wheel;
 
       
     background-color: white;
            border-radius: 30px;
            
            border: 1px solid black;
}


.Paper-Tabs { grid-area: Paper-Tabs; 
background-color: white;

        }
